.user-dropdown {
    position: relative;
    display: inline-block;
  }

  .user-info {
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .user-icon {
    color: orange;
    font-size: 20px;
  }

  .user-name {
    font-weight: 600;
  }

  .logo_height{
    height: 74px !important;
    width: 189px !important;
  }
  .logo_height1{
    height: 23px !important;
    width: 76px !important;
  }